<div class="container text-center">
  <fieldset>
    <legend id="title" class="text-center bg-dark text-white py-2 text-center my-5">Calculadora Primer Parcial</legend>
    <div class="form py-3 my-5">
      <form name="Calculando">
        <br>
        <br>
        <br>
        <br>
        <label for="valor1"><b>Numero 1:</b></label>
        <input type="number" name="valor1" placeholder="Escribe un numero" [(ngModel)]="valor1">
        <br>
        <br>
        <label for="valor2"><b>Numero 2:</b></label>
        <input type="number" name="valor2" placeholder="Escribe otro numero" [(ngModel)]="valor2">
          <br>
          <br>
        <button type="button" (click)="suma()" id="btn-suma">Suma</button>
        <button type="button" (click)="resta()" id="btn-resta">Resta</button>
        <button type="button" (click)="multiplicacion()" id="btn-multiplicacion">Multiplicacion</button>
        <button type="button" (click)="division()" id="btn-division">Division</button>
        <br>
        <p><b>El resultado es: <span name="resultado">{{resultado}}</span></b></p>
        </form>
    </div>
  </fieldset>
</div>


<div class="container table table-hover">
  <table border="2" class="table table-bordered table striped">
    <thead>
      <tr>
        <th scope="col">Numero 1</th>
        <th scope="col">Numero 2</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span>{{this.valor1}}</span></td>
        <td><span>{{this.valor2}}</span></td>
        <td><span>{{resultado}}</span></td>
      </tr>
    </tbody>
    </table>
</div>



<router-outlet></router-outlet>